In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

trainingSet = pd.read_csv('trainingSet.csv')
trainingSet = trainingSet.set_index('person')

testingSet = pd.read_csv('testingSet.csv')
testingSet = testingSet.set_index('person')

trainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes,DiasDesdeUltimoEvento,DiasDesdePrimerEvento,DiasDesdeUltimoCheckout
person,,,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,15.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,3.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4,10.0,124.0,10.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2,10.0,10.0,10.0

In [3]:
logsTrocafone['timestamp'] = pd.to_datetime(logsTrocafone['timestamp'], errors = 'coerce')
logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
logsTrocafone['timestamp'] = logsTrocafone['timestamp'].dt.date

logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
conversions = logsTrocafone.loc[logsTrocafone['event'] == 'conversion', :]

conversions.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
195,2018-05-18,conversion,49c19e32,NaN,2683.0,iPhone 5c,Bom,16GB,Rosa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,2018-05-18,conversion,49c19e32,NaN,2683.0,iPhone 5c,Bom,16GB,Rosa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
724,2018-05-29,conversion,39df97e0,NaN,9358.0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
744,2018-05-29,conversion,380c0e60,NaN,6314.0,Samsung Galaxy Note 5,Muito Bom,32GB,Preto,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1198,2018-05-29,conversion,35ee0cc8,NaN,10924.0,Samsung Galaxy A5 2017,Bom,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
ultimoEventoPorPersona = conversions.groupby('person').agg({'timestamp':'max'})

ultimoEventoPorPersona.head()

           timestamp
person
000ba417  2018-05-26
001001be  2018-05-16
001804a2  2018-05-25
0019e639  2018-05-22
001b0bf9  2018-05-22

In [7]:
ultimoEventoPorPersona['timestamp'] =  datetime.date(2018, 6, 1) - ultimoEventoPorPersona['timestamp']

ultimoEventoPorPersona['timestamp'].head()

person
000ba417    6 days
001001be   16 days
001804a2    7 days
0019e639   10 days
001b0bf9   10 days
Name: timestamp, dtype: timedelta64[ns]

In [8]:
ultimoEventoPorPersona['timestamp'] = ultimoEventoPorPersona['timestamp'] / np.timedelta64(1, 'D')

ultimoEventoPorPersona.head()

          timestamp
person
000ba417        6.0
001001be       16.0
001804a2        7.0
0019e639       10.0
001b0bf9       10.0

In [9]:
nuevoTrainingSet = trainingSet.merge(ultimoEventoPorPersona, how='left', left_index=True, right_index=True)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 17 columns):
CantidadEventos            19414 non-null int64
CantidadCompras            19414 non-null float64
CantidadLeads              19414 non-null float64
VentasHaceUnMes            19414 non-null float64
LeadsHaceUnMes             19414 non-null float64
VentasHaceDosMeses         19414 non-null float64
LeadsHaceDosMeses          19414 non-null float64
CantidadCheckouts          19414 non-null float64
VentasMes1                 19414 non-null float64
VentasMes2                 19414 non-null float64
VentasMes3                 19414 non-null float64
VentasMes4                 19414 non-null float64
PromedioVentasPorMes       19414 non-null float64
DiasDesdeUltimoEvento      19414 non-null float64
DiasDesdePrimerEvento      19414 non-null float64
DiasDesdeUltimoCheckout    19414 non-null float64
timestamp                  2164 non-null float64
dtypes: float64(16), int64(1)
memory usage: 3.3+ MB

In [10]:
nuevoTestingSet = testingSet.merge(ultimoEventoPorPersona, how='left', left_index=True, right_index=True)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 17 columns):
CantidadEventos            19415 non-null int64
CantidadCompras            19415 non-null float64
CantidadLeads              19415 non-null float64
VentasHaceUnMes            19415 non-null float64
LeadsHaceUnMes             19415 non-null float64
VentasHaceDosMeses         19415 non-null float64
LeadsHaceDosMeses          19415 non-null float64
CantidadCheckouts          19415 non-null float64
VentasMes1                 19415 non-null float64
VentasMes2                 19415 non-null float64
VentasMes3                 19415 non-null float64
VentasMes4                 19415 non-null float64
PromedioVentasPorMes       19415 non-null float64
DiasDesdeUltimoEvento      19415 non-null float64
DiasDesdePrimerEvento      19415 non-null float64
DiasDesdeUltimoChechout    19415 non-null float64
timestamp                  2129 non-null float64
dtypes: float64(16), int64(1)
memory usage: 3.3+ MB

In [11]:
nuevoTrainingSet = nuevoTrainingSet.fillna(10000)

#Agrego un numero muy grande significando que na hacen un checkout hace mucho

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 17 columns):
CantidadEventos            19414 non-null int64
CantidadCompras            19414 non-null float64
CantidadLeads              19414 non-null float64
VentasHaceUnMes            19414 non-null float64
LeadsHaceUnMes             19414 non-null float64
VentasHaceDosMeses         19414 non-null float64
LeadsHaceDosMeses          19414 non-null float64
CantidadCheckouts          19414 non-null float64
VentasMes1                 19414 non-null float64
VentasMes2                 19414 non-null float64
VentasMes3                 19414 non-null float64
VentasMes4                 19414 non-null float64
PromedioVentasPorMes       19414 non-null float64
DiasDesdeUltimoEvento      19414 non-null float64
DiasDesdePrimerEvento      19414 non-null float64
DiasDesdeUltimoCheckout    19414 non-null float64
timestamp                  19414 non-null float64
dtypes: float64(16), int64(1)
memory usage: 3.3+ MB

In [12]:
nuevoTestingSet = nuevoTestingSet.fillna(10000)

#Agrego un numero muy grande significando que na hacen un checkout hace mucho

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 17 columns):
CantidadEventos            19415 non-null int64
CantidadCompras            19415 non-null float64
CantidadLeads              19415 non-null float64
VentasHaceUnMes            19415 non-null float64
LeadsHaceUnMes             19415 non-null float64
VentasHaceDosMeses         19415 non-null float64
LeadsHaceDosMeses          19415 non-null float64
CantidadCheckouts          19415 non-null float64
VentasMes1                 19415 non-null float64
VentasMes2                 19415 non-null float64
VentasMes3                 19415 non-null float64
VentasMes4                 19415 non-null float64
PromedioVentasPorMes       19415 non-null float64
DiasDesdeUltimoEvento      19415 non-null float64
DiasDesdePrimerEvento      19415 non-null float64
DiasDesdeUltimoChechout    19415 non-null float64
timestamp                  19415 non-null float64
dtypes: float64(16), int64(1)
memory usage: 3.3+ MB

In [13]:
nuevoTrainingSet = nuevoTrainingSet.rename(columns={"timestamp": "DiasDesdeUltimaConversion"})

nuevoTrainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes,DiasDesdeUltimoEvento,DiasDesdePrimerEvento,DiasDesdeUltimoCheckout,DiasDesdeUltimaConversion
person,,,,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,15.0,10000.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,3.0,10000.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,10000.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4,10.0,124.0,10.0,10.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2,10.0,10.0,10.0,10.0

In [14]:
nuevoTestingSet = nuevoTestingSet.rename(columns={"timestamp": "DiasDesdeUltimaConversion"})

nuevoTestingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes,DiasDesdeUltimoEvento,DiasDesdePrimerEvento,DiasDesdeUltimoChechout,DiasDesdeUltimaConversion
person,,,,,,,,,,,,,,,,,
00091926,448,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,29.0,6.0,10000.0
00091a7a,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67.0,67.0,10000.0,10000.0
000ba417,206,1.0,0.0,1.0,0.0,1.0,0.0,6.0,0.0,0.0,0.0,0.0,0.2,6.0,15.0,6.0,6.0
000e4d9e,411,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,16.0,16.0,10000.0
000e619d,68,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,14.0,17.0,15.0,10000.0

In [15]:
#nuevoTrainingSet.to_csv('trainingSet.csv')
#Este comando reemplaza el training set existente con la feature agregada

In [16]:
#nuevoTestingSet.to_csv('testingSet.csv')
#Este comando reemplaza el testing set existente con la feature agregada