In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

trainingSet = pd.read_csv('trainingSet.csv')
trainingSet = trainingSet.set_index('person')

testingSet = pd.read_csv('testingSet.csv')
testingSet = testingSet.set_index('person')

trainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes
person,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2

In [3]:
logsTrocafone['timestamp'] = pd.to_datetime(logsTrocafone['timestamp'], errors = 'coerce')
logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
logsTrocafone['timestamp'].max()

Timestamp('2018-05-31 23:59:59')

In [5]:
logsTrocafone['timestamp'] = logsTrocafone['timestamp'].dt.date

logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
logsTrocafone['Hace1Mes'] = logsTrocafone['timestamp'] >= datetime.date(2018,5,1)
logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,Hace1Mes
0,2018-05-18,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,2018-05-18,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,2018-05-18,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,2018-05-18,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,2018-05-18,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [7]:
logsHaceUnMes = logsTrocafone.loc[logsTrocafone['Hace1Mes'] == True, :]

logsHaceUnMes.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,Hace1Mes
0,2018-05-18,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,2018-05-18,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,2018-05-18,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,2018-05-18,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,2018-05-18,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [8]:
leadsHaceUnMes = logsHaceUnMes.loc[logsHaceUnMes['event'] == 'lead', :]

leadsHaceUnMes.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,Hace1Mes
2340701,2018-05-02,lead,e8683d4b,NaN,NaN,LG K10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2340719,2018-05-06,lead,76211e48,NaN,NaN,iPhone 6S Plus,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2340770,2018-05-03,lead,12d5f669,NaN,NaN,Samsung Galaxy J7 Prime,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2340799,2018-05-08,lead,43f69e06,NaN,NaN,LG K10 Novo,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2340800,2018-05-08,lead,43f69e06,NaN,NaN,Motorola Moto G4 Plus,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [9]:
leadsHaceUnMesPorPersona = leadsHaceUnMes.groupby('person').agg({'event':'count'})

leadsHaceUnMesPorPersona.head()

          event
person
016b86b9      1
029889eb      1
034ab8b8      1
03c2b5c1      1
071abc4f      1

In [10]:
nuevoTrainingSet = trainingSet.merge(leadsHaceUnMesPorPersona, how='left', left_index=True, right_index=True)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 14 columns):
CantidadEventos         19414 non-null int64
CantidadCompras         19414 non-null float64
CantidadLeads           19414 non-null float64
VentasHaceUnMes         19414 non-null float64
LeadsHaceUnMes          19414 non-null float64
VentasHaceDosMeses      19414 non-null float64
LeadsHaceDosMeses       19414 non-null float64
CantidadCheckouts       19414 non-null float64
VentasMes1              19414 non-null float64
VentasMes2              19414 non-null float64
VentasMes3              19414 non-null float64
VentasMes4              19414 non-null float64
PromedioVentasPorMes    19414 non-null float64
event                   116 non-null float64
dtypes: float64(13), int64(1)
memory usage: 2.8+ MB

In [11]:
nuevoTestingSet = testingSet.merge(leadsHaceUnMesPorPersona, how='left', left_index=True, right_index=True)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 5 columns):
CantidadEventos    19415 non-null int64
CantidadCompras    19415 non-null float64
CantidadLeads      19415 non-null float64
VentasHaceUnMes    19415 non-null float64
event              123 non-null float64
dtypes: float64(4), int64(1)
memory usage: 1.5+ MB

In [12]:
nuevoTrainingSet = nuevoTrainingSet.fillna(0)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 14 columns):
CantidadEventos         19414 non-null int64
CantidadCompras         19414 non-null float64
CantidadLeads           19414 non-null float64
VentasHaceUnMes         19414 non-null float64
LeadsHaceUnMes          19414 non-null float64
VentasHaceDosMeses      19414 non-null float64
LeadsHaceDosMeses       19414 non-null float64
CantidadCheckouts       19414 non-null float64
VentasMes1              19414 non-null float64
VentasMes2              19414 non-null float64
VentasMes3              19414 non-null float64
VentasMes4              19414 non-null float64
PromedioVentasPorMes    19414 non-null float64
event                   19414 non-null float64
dtypes: float64(13), int64(1)
memory usage: 2.8+ MB

In [13]:
nuevoTestingSet = nuevoTestingSet.fillna(0)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 5 columns):
CantidadEventos    19415 non-null int64
CantidadCompras    19415 non-null float64
CantidadLeads      19415 non-null float64
VentasHaceUnMes    19415 non-null float64
event              19415 non-null float64
dtypes: float64(4), int64(1)
memory usage: 1.5+ MB

In [14]:
nuevoTrainingSet = nuevoTrainingSet.rename(columns={"event": "LeadsHaceUnMes"})

nuevoTrainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes,LeadsHaceUnMes
person,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4,0.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2,0.0

In [15]:
nuevoTestingSet = nuevoTestingSet.rename(columns={"event": "LeadsHaceUnMes"})

nuevoTestingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes
person,,,,,
00091926,448,0.0,0.0,0.0,0.0
00091a7a,10,0.0,0.0,0.0,0.0
000ba417,206,1.0,0.0,1.0,0.0
000e4d9e,411,0.0,0.0,0.0,0.0
000e619d,68,0.0,0.0,0.0,0.0

In [13]:
#nuevoTrainingSet.to_csv('trainingSet.csv')
#Este comando reemplaza el training set existente con la feature agregada

In [16]:
#nuevoTestingSet.to_csv('testingSet.csv')
#Este comando reemplaza el testing set existente con la feature agregada