In [9]:
import pandas as pd
import numpy as np

In [10]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

trainingSet = pd.read_csv('trainingSet.csv')
trainingSet = trainingSet.set_index('person')

testingSet = pd.read_csv('testingSet.csv')
testingSet = testingSet.set_index('person')

trainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes,DiasDesdeUltimoEvento,DiasDesdePrimerEvento,DiasDesdeUltimaConversion,CantidadSearchEngineHits,EntraronMasDeUnaVez,DiasDesdeUltimoCheckout
person,,,,,,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,15.0,15.0,10000.0,0.0,1.0,15.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,10000.0,1.0,0.0,3.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,10000.0,0.0,0.0,1.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4,10.0,124.0,10.0,13.0,1.0,10.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2,10.0,10.0,10.0,0.0,0.0,10.0

In [11]:
logsTrocafone['device_type'].value_counts()

logsTrocafone['ColumnaDe1'] = 1

In [12]:
logsSmartphone = logsTrocafone.loc[logsTrocafone['device_type'] == 'Smartphone', :]

logsComputadora = logsTrocafone.loc[logsTrocafone['device_type'] == 'Computer', :]

logsTablet = logsTrocafone.loc[logsTrocafone['device_type'] == 'Tablet', :]

In [13]:
logsSmartphone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,ColumnaDe1
2136629,2018-05-10 22:34:50,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paid,Returning,Nova Esperanca,Parana,Brazil,Smartphone,320x570,Android 5.0.2,Chrome Mobile 66.0,1
2136630,2018-05-15 02:39:45,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paid,Returning,Nova Esperanca,Parana,Brazil,Smartphone,320x570,Android 5.0.2,Chrome Mobile 66.0,1
2136634,2018-05-18 19:40:30,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paid,Returning,Nova Esperanca,Parana,Brazil,Smartphone,320x570,Android 5.0.2,Chrome Mobile 66.0,1
2136636,2018-05-20 01:15:56,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paid,Returning,São Bernardo do Campo,Sao Paulo,Brazil,Smartphone,320x570,Android 5.0.2,Chrome Mobile 66.0,1
2136640,2018-05-23 19:01:20,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Direct,Returning,Nova Esperanca,Parana,Brazil,Smartphone,320x522,Android 5.0.2,Chrome Mobile 34.0,1

In [14]:
logsComputadora.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,ColumnaDe1
2136631,2018-05-18 01:15:26,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paid,Returning,Unknown,Unknown,Brazil,Computer,1280x1024,Ubuntu,Firefox 57,1
2136637,2018-05-20 10:13:25,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paid,Returning,Unknown,Unknown,Brazil,Computer,1280x1024,Ubuntu,Firefox 57,1
2136639,2018-05-21 23:13:51,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paid,Returning,Unknown,Unknown,Brazil,Computer,1280x1024,Ubuntu,Firefox 57,1
2136642,2018-05-23 23:49:56,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paid,Returning,Unknown,Unknown,Brazil,Computer,1280x1024,Ubuntu,Firefox 57,1
2136643,2018-05-24 00:23:01,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Referral,Returning,Unknown,Unknown,Brazil,Computer,1280x1024,Ubuntu,Firefox 57,1

In [15]:
logsTablet.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,ColumnaDe1
2136632,2018-05-18 19:03:37,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paid,Returning,Nova Esperanca,Parana,Brazil,Tablet,800x1280,Android 7,Chrome 66.0,1
2136633,2018-05-18 19:35:12,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Organic,Returning,Nova Esperanca,Parana,Brazil,Tablet,800x1280,Android 7,Chrome 66.0,1
2136635,2018-05-19 13:33:49,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Organic,Returning,Alto Parana,Parana,Brazil,Tablet,800x1280,Android 7,Chrome 66.0,1
2136638,2018-05-21 13:04:14,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paid,Returning,Nova Esperanca,Parana,Brazil,Tablet,800x1280,Android 7,Chrome 66.0,1
2136641,2018-05-23 21:22:06,visited site,4640420b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Paid,Returning,Nova Esperanca,Parana,Brazil,Tablet,800x1280,Android 7,Chrome 66.0,1

In [16]:
entroConSmartphone = logsSmartphone.groupby('person').agg({'ColumnaDe1':'max'})

entroConSmartphone = entroConSmartphone.rename(columns={"ColumnaDe1": "EntraronConSmartphone"})

entroConComputadora = logsComputadora.groupby('person').agg({'ColumnaDe1':'max'})

entroConComputadora = entroConComputadora.rename(columns={"ColumnaDe1": "EntraronConComputadora"})

entroConTablet = logsTablet.groupby('person').agg({'ColumnaDe1':'max'})

entroConTablet = entroConTablet.rename(columns={"ColumnaDe1": "EntraronConTablet"})

In [17]:
entradaPorDispositivo = entroConComputadora.merge(entroConSmartphone, how='outer', left_index=True, right_index=True)

entradaPorDispositivo = entradaPorDispositivo.merge(entroConTablet, how='outer', left_index=True, right_index=True)

entradaPorDispositivo.head()

          EntraronConComputadora  EntraronConSmartphone  EntraronConTablet
person
0008ed71                     1.0                    NaN                NaN
00091926                     1.0                    NaN                NaN
00091a7a                     NaN                    1.0                NaN
000ba417                     1.0                    NaN                NaN
000c79fe                     NaN                    1.0                NaN

In [18]:
nuevoTestingSet = testingSet.merge(entradaPorDispositivo, how='left', left_index=True, right_index=True)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 22 columns):
CantidadEventos              19415 non-null int64
CantidadCompras              19415 non-null float64
CantidadLeads                19415 non-null float64
VentasHaceUnMes              19415 non-null float64
LeadsHaceUnMes               19415 non-null float64
VentasHaceDosMeses           19415 non-null float64
LeadsHaceDosMeses            19415 non-null float64
CantidadCheckouts            19415 non-null float64
VentasMes1                   19415 non-null float64
VentasMes2                   19415 non-null float64
VentasMes3                   19415 non-null float64
VentasMes4                   19415 non-null float64
PromedioVentasPorMes         19415 non-null float64
DiasDesdeUltimoEvento        19415 non-null float64
DiasDesdePrimerEvento        19415 non-null float64
DiasDesdeUltimaConversion    19415 non-null float64
CantidadSearchEngineHits     19415 non-null float64
EntraronMasDeUnaVez          19415 non-null float64
DiasDesdeUltimoCheckout      19415 non-null float64
EntraronConComputadora       9129 non-null float64
EntraronConSmartphone        10424 non-null float64
EntraronConTablet            330 non-null float64
dtypes: float64(21), int64(1)
memory usage: 4.0+ MB

In [24]:
nuevoTestingSet = nuevoTestingSet.fillna(0)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 22 columns):
CantidadEventos              19415 non-null int64
CantidadCompras              19415 non-null float64
CantidadLeads                19415 non-null float64
VentasHaceUnMes              19415 non-null float64
LeadsHaceUnMes               19415 non-null float64
VentasHaceDosMeses           19415 non-null float64
LeadsHaceDosMeses            19415 non-null float64
CantidadCheckouts            19415 non-null float64
VentasMes1                   19415 non-null float64
VentasMes2                   19415 non-null float64
VentasMes3                   19415 non-null float64
VentasMes4                   19415 non-null float64
PromedioVentasPorMes         19415 non-null float64
DiasDesdeUltimoEvento        19415 non-null float64
DiasDesdePrimerEvento        19415 non-null float64
DiasDesdeUltimaConversion    19415 non-null float64
CantidadSearchEngineHits     19415 non-null float64
EntraronMasDeUnaVez          19415 non-null float64
DiasDesdeUltimoCheckout      19415 non-null float64
EntraronConComputadora       19415 non-null float64
EntraronConSmartphone        19415 non-null float64
EntraronConTablet            19415 non-null float64
dtypes: float64(21), int64(1)
memory usage: 4.0+ MB

In [20]:
nuevoTrainingSet = trainingSet.merge(entradaPorDispositivo, how='left', left_index=True, right_index=True)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 22 columns):
CantidadEventos              19414 non-null int64
CantidadCompras              19414 non-null float64
CantidadLeads                19414 non-null float64
VentasHaceUnMes              19414 non-null float64
LeadsHaceUnMes               19414 non-null float64
VentasHaceDosMeses           19414 non-null float64
LeadsHaceDosMeses            19414 non-null float64
CantidadCheckouts            19414 non-null float64
VentasMes1                   19414 non-null float64
VentasMes2                   19414 non-null float64
VentasMes3                   19414 non-null float64
VentasMes4                   19414 non-null float64
PromedioVentasPorMes         19414 non-null float64
DiasDesdeUltimoEvento        19414 non-null float64
DiasDesdePrimerEvento        19414 non-null float64
DiasDesdeUltimaConversion    19414 non-null float64
CantidadSearchEngineHits     19414 non-null float64
EntraronMasDeUnaVez          19414 non-null float64
DiasDesdeUltimoCheckout      19414 non-null float64
EntraronConComputadora       9078 non-null float64
EntraronConSmartphone        10448 non-null float64
EntraronConTablet            344 non-null float64
dtypes: float64(21), int64(1)
memory usage: 4.0+ MB

In [21]:
nuevoTrainingSet = nuevoTrainingSet.fillna(0)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 22 columns):
CantidadEventos              19414 non-null int64
CantidadCompras              19414 non-null float64
CantidadLeads                19414 non-null float64
VentasHaceUnMes              19414 non-null float64
LeadsHaceUnMes               19414 non-null float64
VentasHaceDosMeses           19414 non-null float64
LeadsHaceDosMeses            19414 non-null float64
CantidadCheckouts            19414 non-null float64
VentasMes1                   19414 non-null float64
VentasMes2                   19414 non-null float64
VentasMes3                   19414 non-null float64
VentasMes4                   19414 non-null float64
PromedioVentasPorMes         19414 non-null float64
DiasDesdeUltimoEvento        19414 non-null float64
DiasDesdePrimerEvento        19414 non-null float64
DiasDesdeUltimaConversion    19414 non-null float64
CantidadSearchEngineHits     19414 non-null float64
EntraronMasDeUnaVez          19414 non-null float64
DiasDesdeUltimoCheckout      19414 non-null float64
EntraronConComputadora       19414 non-null float64
EntraronConSmartphone        19414 non-null float64
EntraronConTablet            19414 non-null float64
dtypes: float64(21), int64(1)
memory usage: 4.0+ MB

In [22]:
#nuevoTrainingSet.to_csv('trainingSet.csv')
#Este comando reemplaza el training set existente con la feature agregada

In [23]:
#nuevoTestingSet.to_csv('testingSet.csv')
#Este comando reemplaza el testing set existente con la feature agregada