In [1]:
import pandas as pd
import numpy as np

In [2]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

trainingSet = pd.read_csv('trainingSet.csv')
trainingSet = trainingSet.set_index('person')

testingSet = pd.read_csv('testingSet.csv')
testingSet = testingSet.set_index('person')

trainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes
person,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2

In [3]:
logsTrocafoneLeads = logsTrocafone.loc[logsTrocafone['event'] == 'lead', :]

logsTrocafoneLeads.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
2340698,2018-01-10 22:06:17,lead,cd739044,NaN,NaN,iPhone 7 Plus,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340699,2018-04-18 01:14:10,lead,87dede0a,NaN,NaN,iPhone 6 Plus,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340700,2018-04-18 02:45:58,lead,a6e1b6a0,NaN,NaN,Samsung Galaxy A3 Duos,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340701,2018-05-02 14:45:09,lead,e8683d4b,NaN,NaN,LG K10,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2340702,2018-01-23 17:12:29,lead,00546f4c,NaN,NaN,Samsung Galaxy Note 5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
cantidadDeLeads = logsTrocafoneLeads.groupby('person').agg({'event':'count'})

cantidadDeLeads.head()

          event
person
00546f4c      1
016b86b9      1
01af6573      6
0297fc1e      1
029889eb      1

In [5]:
nuevoTrainingSet = trainingSet.merge(cantidadDeLeads, how='left', left_index=True, right_index=True)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 14 columns):
CantidadEventos         19414 non-null int64
CantidadCompras         19414 non-null float64
CantidadLeads           19414 non-null float64
VentasHaceUnMes         19414 non-null float64
LeadsHaceUnMes          19414 non-null float64
VentasHaceDosMeses      19414 non-null float64
LeadsHaceDosMeses       19414 non-null float64
CantidadCheckouts       19414 non-null float64
VentasMes1              19414 non-null float64
VentasMes2              19414 non-null float64
VentasMes3              19414 non-null float64
VentasMes4              19414 non-null float64
PromedioVentasPorMes    19414 non-null float64
event                   264 non-null float64
dtypes: float64(13), int64(1)
memory usage: 2.8+ MB

In [6]:
nuevoTestingSet = testingSet.merge(cantidadDeLeads, how='left', left_index=True, right_index=True)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 3 columns):
CantidadEventos    19415 non-null int64
CantidadCompras    19415 non-null float64
event              315 non-null float64
dtypes: float64(2), int64(1)
memory usage: 1.2+ MB

In [7]:
nuevoTrainingSet = nuevoTrainingSet.fillna(0)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 14 columns):
CantidadEventos         19414 non-null int64
CantidadCompras         19414 non-null float64
CantidadLeads           19414 non-null float64
VentasHaceUnMes         19414 non-null float64
LeadsHaceUnMes          19414 non-null float64
VentasHaceDosMeses      19414 non-null float64
LeadsHaceDosMeses       19414 non-null float64
CantidadCheckouts       19414 non-null float64
VentasMes1              19414 non-null float64
VentasMes2              19414 non-null float64
VentasMes3              19414 non-null float64
VentasMes4              19414 non-null float64
PromedioVentasPorMes    19414 non-null float64
event                   19414 non-null float64
dtypes: float64(13), int64(1)
memory usage: 2.8+ MB

In [8]:
nuevoTestingSet = nuevoTestingSet.fillna(0)

nuevoTestingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19415 entries, 00091926 to fffd1246
Data columns (total 3 columns):
CantidadEventos    19415 non-null int64
CantidadCompras    19415 non-null float64
event              19415 non-null float64
dtypes: float64(2), int64(1)
memory usage: 1.2+ MB

In [9]:
nuevoTrainingSet.head()

,CantidadEventos,CantidadCompras,CantidadLeads,VentasHaceUnMes,LeadsHaceUnMes,VentasHaceDosMeses,LeadsHaceDosMeses,CantidadCheckouts,VentasMes1,VentasMes2,VentasMes3,VentasMes4,PromedioVentasPorMes,event
person,,,,,,,,,,,,,,
0008ed71,6,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
000c79fe,17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
001802e4,19,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
0019e639,471,2.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,1.0,0.0,0.0,0.4,0.0
001b0bf9,7,1.0,0.0,1.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.2,0.0

In [10]:
nuevoTrainingSet = nuevoTrainingSet.rename(columns={"event": "CantidadLeads"})

nuevoTestingSet = nuevoTestingSet.rename(columns={"event": "CantidadLeads"})

In [12]:
#nuevoTrainingSet.to_csv('trainingSet.csv')
#Este comando reemplaza el training set existente con la feature agregada

In [11]:
#nuevoTestingSet.to_csv('testingSet.csv')
#Este comando reemplaza el testing set existente con la feature agregada