In [18]:
import pandas as pd
import numpy as np
import datetime

In [19]:
logsTrocafone = pd.read_csv('Data/events_up_to_01062018.csv', low_memory = False)

trainingSet = pd.read_csv('trainingSet.csv')
trainingSet = trainingSet.set_index('person')

trainingSet.head()

          CantidadEventos  CantidadCompras  CantidadLeads
person
0008ed71                6              0.0            0.0
000c79fe               17              0.0            0.0
001802e4               19              0.0            0.0
0019e639              471              2.0            0.0
001b0bf9                7              1.0            0.0

In [20]:
logsTrocafone['timestamp'] = pd.to_datetime(logsTrocafone['timestamp'], errors = 'coerce')
logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
logsTrocafone['timestamp'].max()

Timestamp('2018-05-31 23:59:59')

In [22]:
logsTrocafone['timestamp'] = logsTrocafone['timestamp'].dt.date

logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
logsTrocafone['Hace1Mes'] = logsTrocafone['timestamp'] >= datetime.date(2018,5,1)
logsTrocafone.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,Hace1Mes
0,2018-05-18,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,2018-05-18,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,2018-05-18,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,2018-05-18,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,2018-05-18,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [28]:
logsHaceUnMes = logsTrocafone.loc[logsTrocafone['Hace1Mes'] == True, :]

logsHaceUnMes.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,Hace1Mes
0,2018-05-18,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,2018-05-18,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,2018-05-18,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,2018-05-18,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,2018-05-18,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [29]:
ventasHaceUnMes = logsHaceUnMes.loc[logsHaceUnMes['event'] == 'conversion', :]

ventasHaceUnMes.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,Hace1Mes
195,2018-05-18,conversion,49c19e32,NaN,2683.0,iPhone 5c,Bom,16GB,Rosa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
234,2018-05-18,conversion,49c19e32,NaN,2683.0,iPhone 5c,Bom,16GB,Rosa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
724,2018-05-29,conversion,39df97e0,NaN,9358.0,Samsung Galaxy J2 Prime TV,Excelente,8GB,Rosa,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
744,2018-05-29,conversion,380c0e60,NaN,6314.0,Samsung Galaxy Note 5,Muito Bom,32GB,Preto,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1198,2018-05-29,conversion,35ee0cc8,NaN,10924.0,Samsung Galaxy A5 2017,Bom,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [33]:
ventasHaceUnMesPorPersona = ventasHaceUnMes.groupby('person').agg({'event':'count'})

ventasHaceUnMesPorPersona.head()

          event
person
000ba417      1
001001be      1
001804a2      1
0019e639      1
001b0bf9      1

In [34]:
nuevoTrainingSet = trainingSet.merge(ventasHaceUnMesPorPersona, how='left', left_index=True, right_index=True)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 4 columns):
CantidadEventos    19414 non-null int64
CantidadCompras    19414 non-null float64
CantidadLeads      19414 non-null float64
event              1873 non-null float64
dtypes: float64(3), int64(1)
memory usage: 1.4+ MB

In [35]:
nuevoTrainingSet = nuevoTrainingSet.fillna(0)

nuevoTrainingSet.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19414 entries, 0008ed71 to fff78145
Data columns (total 4 columns):
CantidadEventos    19414 non-null int64
CantidadCompras    19414 non-null float64
CantidadLeads      19414 non-null float64
event              19414 non-null float64
dtypes: float64(3), int64(1)
memory usage: 1.4+ MB

In [38]:
nuevoTrainingSet = nuevoTrainingSet.rename(columns={"event": "VentasHaceUnMes"})

nuevoTrainingSet.head()

          CantidadEventos  CantidadCompras  CantidadLeads  VentasHaceUnMes
person
0008ed71                6              0.0            0.0              0.0
000c79fe               17              0.0            0.0              0.0
001802e4               19              0.0            0.0              0.0
0019e639              471              2.0            0.0              1.0
001b0bf9                7              1.0            0.0              1.0

In [40]:
#nuevoTrainingSet.to_csv('trainingSet.csv')
#Este comando reemplaza el training set existente con la feature agregada